body {
  font-family: Lobster,cursive;
}

.jumbotron{
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/64/03/burgundy-and-gold-background-vector-996403.jpg");
  background-size: cover;
  color:#e6e5db;
  text-transform:
  border-radius: 20px;
  text-shadow: 0.8px, 0.5px;
  font-weight: 900;
  font-family: Lobster,cursive;
  text-transform: italic;

  }

h2 {
  color: #800000;
  font-family: Lobster,cursive;
  text-transform: capitalize;
  font-weight: 900;
}

.well {
  bottom: 0;
  border: 8px solid #9a2702;
  border-radius: 10px;

}

h4{
  color: #800000;
  font-family: Lobster,cursive;
  text-transform: capitalize;
  font-weight: 900;
}

textarea {
  width: 80%;
  padding: 15px;
  margin: 0;
  border: none;
  border-radius: 10px;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  position: relative;
  left: 5%;

}

.form-container textarea:focus {
  background-color: #ddd;
  border-radius: 6px;
}

.form-container .btn {
  background-color: #800000;
  color: white;
  padding: 5px 2px;
  border: none;
  cursor: pointer;
  width: 5%;
  opacity: 0.8;
  border-radius: 6px;
  left: 10%;
}

.button{
  background-color: #800000;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 10%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: red;
  border-radius: 6px;
}
.btn .cancel{
  display: inline;
}

.form-container .btn:hover {
  opacity: 1;
}
